In [2]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/61/af/ceb7523e86753d5643ed00e8c17a42bdcfe819782c3449d9bbbf5d01867a/pandas-1.0.1-cp37-cp37m-manylinux1_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 2.6MB/s
Collecting numpy>=1.13.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/63/0c/0261693cc3ad8e2b66e66dc2d2676a2cc17d3efb1c58a70db73754320e47/numpy-1.18.1-cp37-cp37m-manylinux1_x86_64.whl (20.1MB)
     |████████████████████████████████| 20.1MB 1.1MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
     |████████████████████████████████| 512kB 744kB/s
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.1 pandas-1.0.1 pytz-2019.3

In [11]:
!ls ../../data/

data.zip			hf_physician_locator.csv
dph_dash_ems_naloxone_age.csv	hf_samsha_programs.csv
dph_dash_ems_naloxone_sex.csv	hf_samsha_providers.csv
dph_dash_ems_naloxone_zip.csv	pp_refill_events.csv
dph_dash_n_ed_transfers.csv	pp_refill_zipcode_metrics.csv
dph_dash_n_naloxone_admins.csv	pp_sep_site_exchanges.csv
dph_od_incident_counts.csv	pp_sep_site_participants.csv
dph_od_resident_counts.csv	psp_overdose_events.csv

In [12]:
import pandas as pd

data_prefix = '../../data/'

pd.read_csv(f'{data_prefix}psp_overdose_events.csv')

,Incident ID,Incident Date,Incident Time,Day,Incident County Name,Incident State,Victim ID,Gender Desc,Age Range,Race,...,Revive Action Desc,Third Party Admin Desc,Incident County FIPS Code,Incident County Latitude,Incident County Longitude,Victim County FIPS Code,Victim County Latitude,Victim County Longitude,Incident County Latitude and Longitude,Victim County Latitude and Longitude
0,1,1/4/2018,0:42:00,Thursday,Delaware,Pennsylvania,1,Male,50 - 59,White,...,NaN,GOOD SAMARITAN,45,39.916579,-75.406277,45.0,39.916579,-75.406277,"(39.916579, -75.406277)","(39.916579, -75.406277)"
1,1,1/4/2018,0:42:00,Thursday,Delaware,Pennsylvania,1,Male,50 - 59,White,...,NaN,NaN,45,39.916579,-75.406277,45.0,39.916579,-75.406277,"(39.916579, -75.406277)","(39.916579, -75.406277)"
2,1,1/4/2018,0:42:00,Thursday,Delaware,Pennsylvania,1,Male,50 - 59,White,...,NaN,GOOD SAMARITAN,45,39.916579,-75.406277,45.0,39.916579,-75.406277,"(39.916579, -75.406277)","(39.916579, -75.406277)"
3,1,1/4/2018,0:42:00,Thursday,Delaware,Pennsylvania,1,Male,50 - 59,White,...,NaN,NaN,45,39.916579,-75.406277,45.0,39.916579,-75.406277,"(39.916579, -75.406277)","(39.916579, -75.406277)"
4,26,1/26/2018,9:14:00,Friday,Chester,Pennsylvania,5,Male,25 - 29,White,...,NaN,NaN,29,39.974871,-75.756265,29.0,39.974871,-75.756265,"(39.974871, -75.756265)","(39.974871, -75.756265)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15116,14310,1/11/2020,0:00:00,Saturday,Adams,Pennsylvania,11435,Male,30 - 39,White,...,ARREST,NaN,1,39.872096,-77.222243,1.0,39.872096,-77.222243,"(39.872096, -77.222243)","(39.872096, -77.222243)"
15117,14311,1/13/2020,8:32:00,Monday,Cambria,Pennsylvania,11436,Female,20 - 24,White,...,NaN,NaN,21,40.491275,-78.718942,21.0,40.491275,-78.718942,"(40.491275, -78.718942)","(40.491275, -78.718942)"
15118,14312,1/14/2020,15:13:00,Tuesday,Lancaster,Pennsylvania,11437,Male,30 - 39,White,...,HOSPITAL CONSCIOUS,NaN,71,40.045908,-76.251388,133.0,39.921925,-76.725761,"(40.045908, -76.251388)","(39.921925, -76.725761)"
15119,14313,12/14/2019,21:30:00,Saturday,Montgomery,Pennsylvania,11438,Male,25 - 29,White,...,NaN,NaN,91,40.209899,-75.372520,91.0,40.209899,-75.372520,"(40.209899, -75.37252)","(40.209899, -75.37252)"
15120,14313,12/14/2019,21:30:00,Saturday,Montgomery,Pennsylvania,11438,Male,25 - 29,White,...,NaN,NaN,91,40.209899,-75.372520,91.0,40.209899,-75.372520,"(40.209899, -75.37252)","(40.209899, -75.37252)"

In [13]:
pd.read_csv(f'{data_prefix}dph_dash_ems_naloxone_zip.csv')

    Pickup.Zip.Code  Numebr.of.Records
0             19116                187
1             19154                281
2             19115                149
3             19114                233
4             19111                301
5             19152                232
6             19136                444
7             19149                356
8             19135                566
9             19137                176
10            19124               1243
11            19120                333
12            19126                 66
13            19141                257
14            19138                113
15            19150                 46
16            19119                 74
17            19144                315
18            19140                702
19            19129                 80
20            19134               4674
21            19118                 14
22            19128                165
23            19127                 29
24            19125                712
25            19133               1285
26            19132                492
27            19131                258
28            19151                114
29            19122                240
30            19121                293
31            19139                413
32            19104                570
33            19130                117
34            19123                194
35            19108                  1
36            19103                136
37            19102                149
38            19107                434
39            19106                203
40            19143                332
41            19146                397
42            19147                284
43            19142                207
44            19145                518
45            19148                906
46            19112                  6
47            19153                136