In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_inc = pd.read_csv('../data/data/dph_od_incident_counts.csv')
df_res = pd.read_csv('../data/data/dph_od_resident_counts.csv')

In [5]:
df_inc.head()

,ZIPCODE,X2014Q1,X2014Q2,X2014Q3,X2014Q4,X2015Q1,X2015Q2,X2015Q3,X2015Q4,X2016Q1,...,X2016Q3,X2016Q4,X2017Q1,X2017Q2,X2017Q3,X2017Q4,X2018Q1,X2018Q2,X2018Q3,X2018Q4
0,19102,0,0,0,0,0,0,<6,0,<6,...,0,<6,<6,0,<6,<6,0,<6,<6,0
1,19103,<6,0,<6,0,0,0,0,0,0,...,<6,<6,<6,<6,<6,0,<6,<6,<6,<6
2,19104,<6,<6,<6,6,6,6,<6,<6,<6,...,<6,6,<6,6,9,8,<6,7,<6,8
3,19106,0,0,<6,<6,<6,0,0,<6,<6,...,<6,<6,<6,<6,<6,<6,<6,<6,<6,<6
4,19107,<6,<6,<6,<6,<6,<6,0,<6,6,...,<6,<6,<6,<6,<6,<6,<6,<6,<6,6

In [ ]:
print(df_inc)