In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
data_name = '../data/data/pp_refill_zipcode_metrics.csv'

In [20]:
df_zip = pd.read_csv(data_name)

In [21]:
df_zip['participant_zip'].unique()

array([19111., 19120., 19122., 19124., 19125., 19132., 19133., 19134.,
       19135., 19136., 19140., 19143., 19145., 19148., 19149., 19152.,
       19154.,    nan])

In [22]:
df_zip.columns

Index(['participant_zip', 'avg_outcome_ems', 'avg_outcome_police',
       'avg_outcome_ed', 'avg_outcome_death', 'avg_outcome_unk',
       'avg_outcome_ok', 'avg_od_drug_heroin', 'avg_od_drug_cocaine',
       'avg_od_drug_fentanyl', 'avg_od_drug_unknown', 'avg_od_drug_other',
       'avg_od_present_breath', 'avg_od_present_unresponsive',
       'avg_od_present_coloring', 'avg_od_present_other', 'avg_cpr_used',
       'n_observations'],
      dtype='object')

In [24]:
df_zip.head()

,participant_zip,avg_outcome_ems,avg_outcome_police,avg_outcome_ed,avg_outcome_death,avg_outcome_unk,avg_outcome_ok,avg_od_drug_heroin,avg_od_drug_cocaine,avg_od_drug_fentanyl,avg_od_drug_unknown,avg_od_drug_other,avg_od_present_breath,avg_od_present_unresponsive,avg_od_present_coloring,avg_od_present_other,avg_cpr_used,n_observations
0,19111.0,0.366667,0.150000,0.200000,0.000000,0.150000,0.700000,0.517241,0.068966,0.310345,0.241379,0.161290,0.642857,0.750000,0.678571,0.000000,0.600000,31
1,19120.0,0.318182,0.210526,0.052632,0.000000,0.052632,0.526316,0.695652,0.130435,0.652174,0.000000,0.000000,0.304348,0.565217,0.478261,0.043478,0.428571,26
2,19122.0,0.187500,0.115385,0.000000,0.000000,0.076923,0.769231,0.366667,0.033333,0.366667,0.266667,0.093750,0.387097,0.419355,0.322581,0.225806,0.333333,36
3,19124.0,0.358209,0.176471,0.125000,0.026144,0.071895,0.581699,0.820513,0.200000,0.528205,0.061538,0.088235,0.438144,0.541237,0.556701,0.030928,0.453333,219
4,19125.0,0.206186,0.115942,0.072464,0.043478,0.202899,0.608696,0.648352,0.109890,0.494505,0.098901,0.140000,0.377778,0.511111,0.555556,0.011236,0.419355,102

In [ ]:
df_zip

In [25]:
data_name2 = '../data/data/dph_dash_ems_naloxone_zip.csv'

In [26]:
df = pd.read_csv(data_name2)

In [27]:
df.head()

   Pickup.Zip.Code  Numebr.of.Records
0            19116                187
1            19154                281
2            19115                149
3            19114                233
4            19111                301